<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style type="text/css">
      body{
        font-family: Roboto, Geneva, Tahoma, sans-serif;
      }
    </style>
  </head>
  <table  width="100%" border="0" cellspacing="0" cellpadding="0" style="background: #1e1e1e;">
    <tr>
        <td align="center">
          <table>
            <tr height="50">
              <td align="center">
                <img width="150" src="https://mindconsulting.com.br/wp-content/uploads/2020/01/Mind-Branco-copy.png" />
              </td>
            </tr>
              <tr>
                <td bgcolor="#2e2e2e" align="left" style="border-radius: 5px; padding: 30px 40px" >
                  <font color="white">
                    <p align="center">
                      <img src="https://mindconsulting.com.br/wp-content/uploads/2020/01/bear-png-220x220.png"/>
                    </p>
                    <h2 style="color: white !important" align="center"> <strong>Eae {{ name }}!</strong> </h2>
                    <h3 style="color: white !important" align="center"> Seja bem vindo ao MindPay&trade;	 </h3>
                    <p style="color: white !important; max-width: 410px;" align="center">
                      O <strong>MindPay</strong> é uma plataforma criada para facilitar seu pagamento dentro da mind
                    </p>
                    <p style="color: white !important; max-width: 300px;">
                      para acessar baixe o aplicativo e acesse com seu CPF e senha.
                    </p>
                    <p style="color: white !important">
                      sua senha é: <strong>{{ pass }}</strong>
                    </p>
                    </br>
                    <p style="max-width: 400px; color: white !important" align="center">
                      É isso ai, bom trabalho e juntos vamos continuar fazendo acontecer :)
                    </p>
                  </font>
                </td>
              </tr>
              <tr height="0"></tr>
          </table>
          <font color="gray">
            <p>Ficou com alguma duvida? <br/> ajuda@mindconsulting.com.br</p>
          </font>
          <br/>
        </td>
    </tr>
  </table>
</html>
